.my__projects-heading {
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: 200;
}

.my__projects-content_sub {
    background-color: #e6dfd9;
    font-family: var(--font-subtitle);
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.my__other-projects {
    margin: 2rem 2rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.my__other-projects::-webkit-scrollbar {
    height: 20px;
}

.my__other-projects::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b0a79e;
    border-radius: 10px;
}

.my__other-projects::-webkit-scrollbar-thumb {
    background: #9e7f5f;
    border-radius: 10px;
}

.my__other-projects::-webkit-scrollbar-thumb:hover{
    background: #bcab99;
}

.my__other-projects_box {
    min-height: 300px;
    min-width: 460px;
    border-radius: 1rem;
    background-color:#282726;
    -webkit-box-shadow: 0 0 10px 5px #b0a79e;
    box-shadow: 0px 0px 10px 5px #b0a79e;
    margin: 3rem 1rem 1rem 1rem;
}

.my__other-projects_box h1 {
    font-family: var(--font-subtitle);
    font-size: 24px;
    font-weight: 500;
    color: #bcab99;
    text-decoration: underline;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.my__other-projects_box p {
    font-family: var(--font-text);
    font-size: 16px;
    color: #e6dfd9;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}

.my__other-projects_box h2 {
    font-family: var(--font-subtitle);
    font-size: 18px;
    font-weight: 400;
    color: #bcab99;
    text-align: center;
    padding-top: 2rem;
}

@media (max-width: 1024px) {
    .my__projects-heading {
        font-size: 32px;
    }
    .my__projects-content_sub {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .my__projects-heading {
        font-size: 24px;
    }
    .my__projects-content_sub {
        font-size: 14px;
    }
    .my__other-projects {
        margin: 0rem 0rem 3.5rem;
        padding-bottom: 0.5rem;
    }
    .my__other-projects_box {
        min-height: 250px;
        min-width: 250px;
    }
    .my__other-projects_box h1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 16px;
    }
    .my__other-projects_box p {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 12px;
        text-align: left;
    }
    .my__other-projects_box h2 {
        padding-top: 2rem;
        font-size: 13px;
    }
    .my__other-projects::-webkit-scrollbar {
        height: 10px;
    }
}