.my__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem 1rem;
}

.my__navbar-links_container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.my__navbar-links_container p {
    color: #f6f5f3;
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 0 1rem;
    cursor: pointer;
}

.my__navbar-links_container p:hover {
    text-decoration: underline;
    color: #e3c8aa;
}

@media (max-width: 1024px) {
    .my__navbar {
        padding: 1.2rem 4rem 1rem;
    }
    .my__navbar-links_container p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .my__navbar {
        padding: 0.5rem 1.5rem 0.3rem;
    }
    .my__navbar-links_container p {
        font-size: 11px;
        margin: 0rem 0.5rem;
    }
}