.my__header {
    display: flex;
    padding-top: 4.5rem;
    padding-bottom: 7rem;
    margin-bottom: 3rem;
}

.my__header-content {
    position: relative;
    justify-content: center;
    align-items: flex-start;
}

.my__header-content_text {
    position: absolute;
    left: 5%;
    right: 50%;
    top: 15%;
}

.my__header-content_name {
    position: absolute;
    text-align: right;
    left: 84%;
    right: 40%;
    top: 55%;
}

.my__header-content_name p {
    display: flex;
    flex-direction: row;
    color: #f6f5f3;
    font-family: var(--font-subtitle);
    font-weight: 500;
    font-size: 22px;
    font-style: italic;
    text-shadow: 2px 2px 8px #fff2d6;
}

.gradient__text p {
    font-family: var(--font-title);
    font-size: 90px;
    font-weight: 400;
    text-shadow: 2px 0px 10px #fff2d6;
}

.my__header-content_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my__header-content_img img {
    width: 100%;
    height: 100%;
}

.my__header-vline {
    position: absolute;
    left: 94%;
    right: 40%;
    top: 50%;
    width: 5px;
    height: 250px;
}

@media (max-width: 1400px) {
    .my__header-vline {
        top: 45%;
        height: 200px;
        width: 2px;
    }
    .my__header-content_name p {
        font-size: 18px;
    }
    .my__header-content_name {
        top: 50%;
    }
}

@media (max-width: 1024px) {
    .my__header-vline {
        top: 40%;
        height: 120px;
        width: 1px;
    }
    .my__header-content_name p {
        font-size: 16px;
    }
    .my__header-content_name {
        top: 45%;
    }
}

@media (max-width: 768px) {
    .my__header-vline,  .my__header-content_name {
        visibility: hidden;
    }
    .my__header-content_img img {
        position: initial;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        visibility: hidden;
    }
    .my__header-content_text {
        position: initial;
        padding-bottom: 7rem;
    }
    .my__header-content_text p {
        text-align: center;
    }
}