.my__header {
    display: flex;
}

.my__header-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text__title {
    flex: 1;
    display: flex;
}

.text__title p {
    text-align: center;
    align-items: center;
    margin: 3rem;
    font-family: var(--font-subtitle);
    font-size: 20px;
}

.text__title-reg {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 90px;
}

.text__title-special {
    color: var(--color-text);
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 100px;
}

.my__header-content_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my__header-content_img img {
    width: 100%;
    height: 100%;
    margin: 4 0 3rem;
}