.my__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
}

.my__navbar-links_container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.my__navbar-links_container p {
    color: #f6f5f3;
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 0 1rem;
    cursor: pointer;
}

.my__navbar-links_container p:hover {
    text-decoration: underline;
    color: #e3c8aa;
}