.my__footer-heading {
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: 200;
}


.my__footer-content_sub {
    background-color: #e6dfd9;
    font-family: var(--font-subtitle);
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

.my__footer-content_text {
    flex: 1;
    display: flex;
    padding-bottom: 4rem;
}

.my__footer-content_text p {
    flex: 1;
    display: flex;
    font-family: var(--font-text);
    font-size: 16px;
}

.my__footer-content_links {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.my__footer-extratext {
    margin-left: 1rem;
    margin-top: 2.5rem;
}

.my__footer-content_buttons {
    flex: 1;
    display: flex;
}

.my__footer-button {
    background-color: #c5b8ab;
    border-radius: 12px;
    border: none;
    box-shadow: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1rem;
    margin-top: 0.5rem;
} 

.my__footer-button:hover{
    background-color: #a28d7b;
    cursor: pointer;
}

.my__footer-button p {
    color: #fff;
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 600;
}