* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__text {
    background: linear-gradient(to right, #f6f5f3 0% 5em, #dcc8ad 5em 11em, #f6f5f3 11em 21em, #dcc8ad
     21em 25em, #f6f5f3 25em 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  hr {
    border: none;
    background: #f6f5f3;
    height: 0.5px;
}