@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-title: 'Cinzel', sans-serif;
  --font-subtitle: 'Montserrat', sans-serif;
  --font-text: 'Oxygen', sans-serif;

  --color-bg: #f6f5f3;
  --color-footer : #031B34;
  --color-text: #9A8670; 
}

.black__bg {
  background: #000000;
}

.gradient__text {
  background: linear-gradient(to right, #f6f5f3 0% 5em, #dcc8ad 5em 11em, #f6f5f3 11em 21em, #dcc8ad
   21em 25em, #f6f5f3 25em 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4.5rem 4rem;
}

.sub__padding {
  padding-top: 2.5rem;
  padding-left: 8rem;
  padding-bottom: 0.5rem;
}

.text__padding {
  padding-top: 1.5rem;
  padding-left: 14rem;
}

@media (max-width: 1024px) {
  .section__padding {
    padding: 3rem 3rem;
  }
  .sub__padding {
    padding-left: 3rem;
    padding-top: 1.2rem;
  }
  .text__padding {
    padding-top: 1.2rem;
    padding-left: 8rem;
  }
}

@media (max-width: 768px) {
  .section__padding {
    padding: 1.5rem 2rem;
  }
  .sub__padding {
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .text__padding {
    padding-top: 1rem;
    padding-left: 4rem;
  }
}