@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-title: 'Cinzel', sans-serif;
  --font-subtitle: 'Montserrat', sans-serif;
  --font-text: 'Oxygen', sans-serif;

  --color-bg: #efe8e0;
  --color-footer : #031B34;
  --color-text: #9A8670; 
}

.gradient__bg {
    background-image: url(./assets/background.png);
}

.section__padding {
    padding: 4rem 4rem;
}

.section__margin {
    margin: 4rem 4rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }